[Unit]
Description=Set fan to fixed speed at boot
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'echo user_space > /sys/class/thermal/thermal_zone0/policy && echo 2 > /sys/class/thermal/cooling_device0/cur_state'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
